.rightbar
{
    flex:3.5
}
.rightbarwrapper
{
    margin:20px 20px 0 0;
}
.birthdaycontainer
{
    display: flex;
    align-items: center;
}
.birthdayImg
{
width: 32px;
height: 32px;
margin-right: 20px;
}
.birthdaytext
{
    font-size: 14px;
    font-weight: 500;
}
.rightbarad
{
    margin: 20px;
    height: 300px;
    width: 400px;
}
.onlinefriend
{
    margin-bottom: 20px;
    font-size: 18px;
}
